/* src/index.css or your global styles */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  width: 44px;
  height: 44px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}
